<section class="pt-90">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card find-project">
          <div class="card-body">
            <!-- <h1>{{'BASE.PAYMENT_MESSAGE' | translate}}</h1> -->
            <!-- <button class="btn btn-sm btn-success"
              [routerLink]="['/projects/dashboard']">{{'BASE.GO_TO_DASHBOARD' | translate}}</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
