<main>
  <!-- inner banner -->
  <section class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
          <div class="inner-title">
            <h1 *ngIf="!customFunction.IsRTL()"><img src="assets/images/icon/work.png" alt="" class="img-fluid icon-img" style="max-width: 12%;">
            {{ 'About Us'}}</h1>
            <h1 *ngIf="customFunction.IsRTL()" style="text-align: right;"><img src="assets/images/icon/work.png" alt="" class="img-fluid icon-img" style="max-width: 12%;">
              معلومات عنا</h1>

          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-6 build" style="z-index: 1; margin-top: 240px;display:none;">

          <div class="name">
            <div>Bhthy</div>
            <div ><a target="_blank" href="https://bhthy.com">Bhthy Platform</a></div>
          </div>
          <div class="perspective">
            
        
        
            <div class="tardis-wrap">
            <div class="tardis">
              <!-- start of side -->
              <div class="side">
                <div class="top-sign">
                  <div class="text">
                    <span class="left">Bhthy</span>
                    <span class="tiny">-</span>
                    <span class="right">Oman</span>
                  </div>
                </div>
                <div class="door-frame">
                  <div class="door door-left">
                    <div class="door-inset"></div>
                    <div class="door-inset b"></div>
                    <div class="sign"></div>
                    <div class="window">
                      <div class="pane a"></div><div class="pane b"></div><div class="pane c"></div>
                      <div class="pane d"></div><div class="pane e"></div><div class="pane f"></div>
                    </div>
                  </div>
                  <div class="door door-right">
                    <div class="door-inset"></div>
                    <div class="door-inset b"></div>
                    <div class="door-inset c"></div>
                    <div class="window">
                      <div class="pane a"></div><div class="pane b"></div><div class="pane c"></div>
                      <div class="pane d"></div><div class="pane e"></div><div class="pane f"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of side -->
        
              <!-- start of side -->
              <div class="side">
                <div class="top-sign">
                  <div class="text">
                    <span class="left">Bhthy</span>
                    <span class="tiny">-</span>
                    <span class="right">Oman</span>
                  </div>
                </div>
                <div class="door-frame">
                  <div class="door door-left">
                    <div class="door-inset"></div>
                    <div class="door-inset b"></div>
                    <div class="door-inset c"></div>
                    <div class="window">
                      <div class="pane a"></div><div class="pane b"></div><div class="pane c"></div>
                      <div class="pane d"></div><div class="pane e"></div><div class="pane f"></div>
                    </div>
                  </div>
                  <div class="door door-right">
                    <div class="door-inset"></div>
                    <div class="door-inset b"></div>
                    <div class="door-inset c"></div>
                    <div class="window">
                      <div class="pane a"></div><div class="pane b"></div><div class="pane c"></div>
                      <div class="pane d"></div><div class="pane e"></div><div class="pane f"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of side -->
        
              <!-- start of side -->
              <div class="side">
                <div class="top-sign">
                  <div class="text">
                    <span class="left">Bhthy</span>
                    <span class="tiny">-</span>
                    <span class="right">Oman</span>
                  </div>
                </div>
                <div class="door-frame">
                  <div class="door door-left">
                    <div class="door-inset"></div>
                    <div class="door-inset b"></div>
                    <div class="door-inset c"></div>
                    <div class="window">
                      <div class="pane a"></div><div class="pane b"></div><div class="pane c"></div>
                      <div class="pane d"></div><div class="pane e"></div><div class="pane f"></div>
                    </div>
                  </div>
                  <div class="door door-right">
                    <div class="door-inset"></div>
                    <div class="door-inset b"></div>
                    <div class="door-inset c"></div>
                    <div class="window">
                      <div class="pane a"></div><div class="pane b"></div><div class="pane c"></div>
                      <div class="pane d"></div><div class="pane e"></div><div class="pane f"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of side -->
        
              <!-- start of side -->
              <div class="side">
                <div class="top-sign">
                  <div class="text">
                    <span class="left">Bhthy</span>
                    <span class="tiny">-</span>
                    <span class="right">Oman</span>
                  </div>
                </div>
                <div class="door-frame">
                  <div class="door door-left">
                    <div class="door-inset"></div>
                    <div class="door-inset b"></div>
                    <div class="door-inset c"></div>
                    <div class="window">
                      <div class="pane a"></div><div class="pane b"></div><div class="pane c"></div>
                      <div class="pane d"></div><div class="pane e"></div><div class="pane f"></div>
                    </div>
                  </div>
                  <div class="door door-right">
                    <div class="door-inset"></div>
                    <div class="door-inset b"></div>
                    <div class="door-inset c"></div>
                    <div class="window">
                      <div class="pane a"></div><div class="pane b"></div><div class="pane c"></div>
                      <div class="pane d"></div><div class="pane e"></div><div class="pane f"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of side -->
        
              <div class="roof"></div>
        
        
              <div class="roof-top">
                <div class="roof-panel a"></div>
                <div class="roof-panel b"></div>
                <div class="roof-panel c"></div>
                <div class="roof-panel d"></div>
                <div class="top-lid"></div>
              </div>
        
        
              <div class="light">
                <div class="light-panel a"><div class="bottom"></div><div class="top"></div></div>
                <div class="light-panel b"><div class="bottom"></div><div class="top"></div></div>
                <div class="light-panel c"><div class="bottom"></div><div class="top"></div></div>
                <div class="light-panel d"><div class="bottom"></div><div class="top"></div></div>
                <div class="light-lid"></div>
              </div>
        
        
              <!-- start of floor -->
              <div class="floor">
                <div class="floor-panel a"></div>
                <div class="floor-panel b"></div>
                <div class="floor-panel c"></div>
                <div class="floor-panel d"></div>
                <div class="floor-lid"></div>
              </div>
              <!-- end of floor -->
        
        
            </div>
            </div>
        
        
          </div>


        </div>



      </div>
    </div>
  </section>

  
  
  <!-- about -->
  <section class="pt-90" style="margin-top: -55px; padding-top:0px !important;">
    <div class="container">
      <div class="row" style="margin-bottom:80px;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card">
         
          <div class="row">

            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12" style="background-color: #138d9a;">
          <img src="assets/images/icon/us.png" alt="" class="img-fluid icon-img about" style="max-width: 100%; margin: auto; margin-top: 30px;">
              </div>
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 " style="padding: 30px 30px; background-color: #e9f9fb;">
                <h6 *ngIf="!customFunction.IsRTL()" class="blue-title"> Who we are? </h6>
                <h6 *ngIf="customFunction.IsRTL()" class="blue-title" style="text-align: right;"> من نحن؟ (قصتنا) </h6>

          
                <p *ngIf="!customFunction.IsRTL()">Bhthy is a global platform that works as a third party to match make/intermediate between clients needs and
            individuals who are willing to offer paid services. A pioneer in freelance work services in multiple fields
            which are: Research, Data Analysis, Design, Programming, and Translation.
            <span id="dots">...</span><span id="more"> <br><br>
          What we do We deliver our clients quality services in research and studies field and we give our experts an
            opportunity to take financial control of their own life by working as a freelancer.<br><br>
          Why we do it We believe that paid work should not be limited to job providers. By solving a local problem
            and creating work opportunities in a modern way aligned with the trend of the job market, we attempt and
            strive to be the facilitators that help people to make money from their gained skills. (trustworthy)
          </span>
          
          </p>

          <p *ngIf="customFunction.IsRTL()" style="text-align: right;">هي منصة عالمية، تعمل كطرف ثالث للتوسّط بين احتياجات العملاء، والخبراء المختصّين بإعداد البحوث أو الباحثين أو مساعدي الباحثين الراغبين في تقديم خدمات مدفوعة الأجر. رائدون في تقديم خدمات الأعمال المستقلة في مجالات عدّة، منها: كتابة البحوث، خدمات البيانات، التصميم، البرمجة والترجمة.
              
              ماذا نقدم؟  نقدم لعملائنا خدمات عالية الجودة في مجال البحوث والدراسات، ونقدم لخبرائنا فرصة الحصول على مصدر دخل من خلال العمل كصاحب عمل مستقل. <br><br>
              لماذا نقدم ذلك؟ نعتقد أن العمل المدفوع لا ينبغي أن يقتصر على مقدمي الوظائف فقط. وذلك من خلال حل مشكلة محلية، وخلق فرص عمل بطريقة حديثة تتماشى مع اتجاه سوق العمل. نحاول ونسعى جاهدين لنكون الميسرين الذين يساعدون الناس على كسب المال من مهاراتهم المكتسبة. (فنحن جديرون بالثقة)
              
          
          </p>




          <button onclick="myFunction()" id="myBtn">Read more</button>
          </div>
          </div>


          <br>
          <div class="row">

          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 " style="padding: 30px 30px; background-color: #def5a6;">
            <h6 *ngIf="!customFunction.IsRTL()" class="title"> Our Vision </h6>
            <p *ngIf="!customFunction.IsRTL()">To provide a proper workspace where freelancers display their skills and experiences as well as to reduce the cost and save time for both clients and freelancers. 
            </p>

            <h6 *ngIf="customFunction.IsRTL()" class="title" style="text-align: right;"> الرؤية </h6>
            <p *ngIf="customFunction.IsRTL()" style="text-align: right;">توفير مساحة عمل مناسبة، حيث يستعرض أصحاب الأعمال المستقلين مهاراتهم وخبراتهم. بالإضافة إلى تقليل التكلفة وتوفير الوقت لكلٍّ من العملاء وأصحاب العمل. 
            </p>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12" style="background-color: #9cc33b;">
            <img src="assets/images/icon/vision.png" alt="" class="img-fluid icon-img about" style="max-width: 100%; margin: auto; margin-top: 30px;">
          </div>
          </div>

          <br>
          <div class="row">

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12" style="background-color: #9cc33b;">
            <img src="assets/images/icon/mission.png" alt="" class="img-fluid icon-img about" style="max-width: 100%; margin: auto; margin-top: 30px;">
          </div>

          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 " style="padding: 30px 30px; background-color: #def5a6;">
            <h6 *ngIf="!customFunction.IsRTL()" class="title"> Our Mission </h6>
            <p *ngIf="!customFunction.IsRTL()">To join all the practitioners in a research industry together with the clients in one platform. 
            </p>


            <h6 *ngIf="customFunction.IsRTL()" class="title" style="text-align: right;"> الرسالة </h6>
            <p *ngIf="customFunction.IsRTL()" style="text-align: right;">ضمّ جميع الممارسين في مجال الأبحاث، جنبًا إلى جنب مع العملاء في منصةٍ واحدة. 
            </p>

          </div>
          </div>

       
            </div>
      
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 text-center" style="display: none;">
          <div class="abt-img">
            <img alt="" src="assets/images/img_1.jpg" class="img-fluid" >
          </div>
        </div>
      
      </div>
</div>
</section>
</main>

<app-footer></app-footer>
