<main>

  <!-- inner banner -->
  <section class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <div class="inner-title">
            <h1 *ngIf="!customFunction.IsRTL()">
              <img src="assets/images/icon/privacy.png" alt="" class="img-fluid icon-img" style="max-width: 7%;">

              Privacy Policy</h1>
            <h1 *ngIf="customFunction.IsRTL()" style="text-align: right;">
              <img src="assets/images/icon/privacy.png" alt="" class="img-fluid icon-img" style="max-width: 7%;">

              سياسة الخصوصية</h1>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
          <br><br>
        <h2 *ngIf="!customFunction.IsRTL()" class="blue-title">Who we are</h2>
        <p *ngIf="!customFunction.IsRTL()"><strong>Our website</strong> address is: <a href="https://bhthy.com">https://bhthy.com</a>.</p>

        <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;" class="blue-title">من نحن؟</h2>
       <p *ngIf="customFunction.IsRTL()" style="text-align: right;">منصة عالمية تعمل كطرف ثالث للتوسط بين احتياجات العملاء وخبراء البحث أو الباحثين أو مساعدي الأبحاث الراغبين في تقديم خدمات مدفوعة الأجر.</p>
       <br>
       <h2 *ngIf="!customFunction.IsRTL()" class="blue-title">Privacy Statement Of Bhthy Platform</h2>
        <p *ngIf="!customFunction.IsRTL()">How does bhthy platform handle the information you provide to us? The platform is committed to securing your privacy when you visit our website and communicate with us electronically. This page shows the way in which any personal information you provide to us while on our site will be used.
		</p>

          <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;" class="blue-title">بيان الخصوصية لمنصة بحثي :</h2>
        <p *ngIf="customFunction.IsRTL()" style="text-align: right;">كيف تتعامل منصة بحثي  مع المعلومات التي تزودنا بها؟
تلتزم المنصة بتأمين خصوصيتك حين تزور موقعنا وتتواصل معنا إلكترونيًا. هذه الصفحة توضح الوجه الذي سيتم عبره استخدام أي معلومات شخصية تزودنا بها خلال تواجدك في موقعنا.
</p>
          <br>
          <h2 *ngIf="!customFunction.IsRTL()" class="blue-title">Absence of legal liability:</h2>
          <p *ngIf="!customFunction.IsRTL()">The user acknowledges that he is solely responsible for the nature of the use he determines for the platform's website, and the management of the bhthy platform Website disclaims its party،To the maximum extent permitted by law, the user shall be fully liable for any losses, damages, expenses or expenses incurred by the user or suffered by him or any other party as a result of using the website of the platform or inability to use it.</p>

          <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;" class="blue-title">انتفاء المسؤولية القانونية</h2>
          <p *ngIf="customFunction.IsRTL()" style="text-align: right;">يقر المُستخدِم بأنه المسؤول الوحيد عن طبيعة الاستخدام الذي يحدده للموقع الإلكتروني للمنصة، وتخلي إدارة موقع منصة بحثي طرفها، إلى أقصى مدى يجيزه القانون، من كامل المسؤولية عن أية خسائر أو أضرار أو نفقات أو مصاريف يتكبدها المُستخدِم أو يتعرض لها هو أو أي طرف آخر من جراء استخدام الموقع الإلكتروني للمنصة أو العجز عن استخدامه.</p>

          <br>
          <h2 *ngIf="!customFunction.IsRTL()" class="blue-title">Service interruptions, omissions and errors on the website:</h2>
          <p *ngIf="!customFunction.IsRTL()">The site administration makes every effort to ensure and maintain the continuity of the website without problems،However, errors, omissions, service interruptions and delays may occur at any time, and in such cases we will expect users to be patient until the service returns to its normal rate.</p>

            <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;" class="blue-title">حالات انقطاع الخدمة والسهو والخطأ في الموقع الإلكتروني </h2>
            <p *ngIf="customFunction.IsRTL()" style="text-align: right;">تبذل إدارة الموقع قصارى جهدها للحرص والحفاظ على استمرار عمل الموقع الإلكتروني بدون مشاكل، رغم ذلك قد تقع في أي وقت أخطاء وحالات سهو وانقطاع للخدمة وتأخير لها، وفي مثل هذه الحالات سنتوقع من المستخدمين الصبر حتى تعود الخدمة إلى معدلها الطبيعي.</p>

              <br>
              <h2 *ngIf="!customFunction.IsRTL()" class="blue-title">Subscriber account, password and information security:</h2>
              <p *ngIf="!customFunction.IsRTL()">The subscriber chooses a password for his account, and he will enter his own mailing address to send messages to him, and it is the responsibility of protecting this password and not sharing it or publishing it to the subscriber،In the event of any transactions using this password, the subscriber will bear all the responsibilities arising from this, without the slightest responsibility on the platform.</p>
              <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;">حساب المشترك وكلمة السر وأمن المعلومات</h2>
                <p *ngIf="customFunction.IsRTL()" style="text-align: right;">

                  يختار المشترك كلمة سر / مرور لحسابه، وسيُدخل عنوانا بريديا خاصا به لمراسلته عليه، وتكون مسؤولية حماية كلمة السر هذه وعدم مشاركتها أو نشرها على المشترك، وفي حال حدوث أي معاملات باستخدام كلمة السر هذه فسيتحمل المشترك كافة المسؤوليات المترتبة على ذلك، دون أدنى مسؤولية على المنصة.</p>

                  <br>

                <h2 *ngIf="!customFunction.IsRTL()" class="blue-title">Cookies :</h2>
                <p *ngIf="!customFunction.IsRTL()">We use cookies and similar technologies (such as web beacons, pixels, tags, and scripts) to improve and personalize your experience, provide our services, analyze website performance.</p>

                  <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;" class="blue-title">ملفات تعريف الارتباط </h2>
                  <p *ngIf="customFunction.IsRTL()" style="text-align: right;"> نستخدم ملفات تعريف الارتباط والتقنيات المماثلة (مثل إشارات الويب ووحدات البكسل والعلامات والنصوص) لتحسين تجربتك وإضفاء الطابع الشخصي عليها ، وتقديم خدماتنا ، وتحليل أداء موقع الويب .</p>
                    <br>
                    <h2 *ngIf="!customFunction.IsRTL()" class="blue-title">External Links :</h2>
                    <p *ngIf="!customFunction.IsRTL()">the Site contains links to third party sites and if you link to a third party site from the Site, any data you provide to that site and any use of that data by the third party are not under the control of Bhthy platform and are not subject to this Policy.</p>

                    <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;" class="blue-title">الروابط الخارجية</h2>
                    <p *ngIf="customFunction.IsRTL()" style="text-align: right;">يحتوي الموقع على روابط لمواقع طرف ثالث وإذا قمت بالارتباط بموقع طرف ثالث من الموقع ، فإن أي بيانات تقدمها لهذا الموقع وأي استخدام لتلك البيانات من قبل الطرف الثالث لا يخضع لسيطرة المنصة ويكون لا تخضع لهذه السياسة.</p>
                    <br>
                    <h2 *ngIf="!customFunction.IsRTL()" class="blue-title">Our Legal Basis for Using Your Personal Information </h2>
                    <p *ngIf="!customFunction.IsRTL()">Where relevant under applicable laws, all processing of your personal information will be justified by a "lawful ground" for processing as detailed below.</p>

                    <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;" class="blue-title">أساسنا القانوني لاستخدام معلوماتك الشخصية</h2>
                    <p *ngIf="customFunction.IsRTL()" style="text-align: right;">حيثما كان ذلك مناسبا بموجب القوانين المعمول بها ، سيتم تبرير جميع معالجة معلوماتك الشخصية من خلال "سبب قانوني" للمعالجة كما هو مفصل أدناه.</p>

					<h2 *ngIf="!customFunction.IsRTL()" class="blue-title">Updating Personal Information:</h2>
                    <p *ngIf="!customFunction.IsRTL()">We take steps to ensure that the personal information we collect is accurate and up to date, and we provide you with the opportunity to update your information through your account profile settings. In the event that you believe your information is in any way incorrect or inaccurate, please let us know immediately.</p>

                    <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;" class="blue-title">تحديث المعلومات الشخصية</h2>
                    <p *ngIf="customFunction.IsRTL()" style="text-align: right;">نتخذ خطوات للتأكد من أن المعلومات الشخصية التي نجمعها دقيقة ومحدثة ، ونوفر لك الفرصة لتحديث معلوماتك من خلال إعدادات ملف تعريف حسابك. إذا كنت تعتقد أن معلوماتك غير صحيحة أو غير دقيقة بأي شكل من الأشكال.</p>


					<h2 *ngIf="!customFunction.IsRTL()" class="blue-title">Sharing Personal Information with Third Parties –</h2>
                    <p *ngIf="!customFunction.IsRTL()">We share personal information with third parties in order to operate the Site, provide our services to you, fulfil obligations imposed on us by applicable laws and regulations, and prevent fraud, infringements and illegal activities.</p>

                    <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;" class="blue-title">مشاركة المعلومات الشخصية مع أطراف ثالثة </h2>
                    <p *ngIf="customFunction.IsRTL()" style="text-align: right;">نشارك المعلومات الشخصية مع أطراف ثالثة من أجل تشغيل الموقع ، وتقديم خدماتنا لك ، والوفاء بالالتزامات المفروضة علينا بموجب القوانين واللوائح المعمول بها ، ومنع الاحتيال والانتهاكات والأنشطة غير القانونية.</p>

					<h2 *ngIf="!customFunction.IsRTL()" class="blue-title">Contact Us </h2>
                    <p *ngIf="!customFunction.IsRTL()">You can exercise your rights over your personal information, by opening contacting us at <a href="#info@Bhthy platform.com">info@Bhthy platform.com</a>. </p>

                    <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;" class="blue-title">اتصل بنا </h2>
                    <p *ngIf="customFunction.IsRTL()" style="text-align: right;">يمكنك ممارسة حقوقك في معلوماتك الشخصية ، عن طريق فتح بطاقة علاقات العملاء أو الاتصال بنا على.
<a href="#info@Bhthy platform.com">info@Bhthy platform.com</a> ،مزيد من التفاصيل حول الحقوق المطبقة عليك موجودة في النسخة الطويلة من السياسة.
</p>


<h2 *ngIf="!customFunction.IsRTL()" class="blue-title">How bhthy guarantees your rights</h2>
                    <p *ngIf="!customFunction.IsRTL()">The bhthy platform guarantees you your financial right in full, so there is no need for any worries,Rest assured when creating any new projects or submitting your offers on the projects presented on the site.<br>
Where the bhthy platform acts as an intermediary between the project owner and the expert and protects the financial rights of both parties in the event that the terms of the bhthy platform and the terms of the guarantee and the agreement are fully clarified.
<br>
In the event that you encounter any problems, do not hesitate to contact us and clarify the problem and you will be answered as soon as possible, knowing that when resorting to technical support to resolve a problem, both parties are obligated to accept the ruling.
</p>

                    <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;" class="blue-title">كيف يضمن بحثي حقوقك</h2>
                    <p *ngIf="customFunction.IsRTL()" style="text-align: right;">موقع بحثي يضمن لك حقك المالي بشكل كامل فلا داعي ﻷي قلق، كن مطمئنا عند إنشاء أي مشاريع جديدة أو تقديم عروضك على المشاريع المعروضة في الموقع، حيث يقوم موقع بحثي بدور الوسيط بين صاحب المشروع وبين الخبير ويحمي حقوق الطرفين المالية في حال الالتزام بشروط موقع بحثي وبنود الضمان وتوضيح الاتفاق تماما.
في حال واجهتك أي مشاكل، لا تتردد في التواصل معنا وتوضيح المشكلة وسيتم الرد عليك في أسرع وقت، علماً أنه عند اللجوء للدعم الفني للفصل في مشكلة ما، على الطرفين الالتزام بقبول الحكم فيها.

</p>



<h2 *ngIf="!customFunction.IsRTL()" class="blue-title">To be able to guarantee your right always, please make sure to follow the following rules:</h2>
                    <p *ngIf="!customFunction.IsRTL()">Clients :</p>
					<p *ngIf="!customFunction.IsRTL()">
					<ul *ngIf="!customFunction.IsRTL()">
					   <li>Write your project in detail, explaining all the points that the freelancer is required to make clear in order to get the best offers suitable for your project, as well as specifying an appropriate time period and budget for the project.</li>
					   <li>If the expert's offer is different in terms of duration and budget from what you offered, and you choose it, the expert's offer will be the one in force in terms of the implementation period and budget.</li>
					   <li>You can communicate with any expert who adds an offer to your project, and the expert can modify his offer after you communicate with him.</li>
					   <li>Any important information you give the expert is at your own risk: passwords, phone numbers, and your personal accounts.</li>
					   <li>You will not be able to modify any data related to your project after it receives its first expert proposal.</li>
					   <li>When a problem occurs with the expert, try to solve it amicably as long as you have not received the project, as he has not yet received his money.</li>
					   <li>After you accept the expert's offer, you will be able to correspond with him within the project itself, without the need for any external means of communication.</li>
					   <li>If the expert finishes his work, he will ask for the project to be delivered, and you will receive an alert. If you have any unfinished details or modifications in the project, you can ask the freelancer to complete them before you receive the project.</li>
					   <li>If the expert finishes his work, he will ask for the project to be delivered, and you will receive an alert. If you have any unfinished details or modifications in the project, you can ask the freelancer to complete them before you receive the project.</li>
					   <li>In the event that you received the project, it means that you got exactly what you wanted, and the communication between you and the expert ended, and he got his profit from the work. You cannot cancel the project or request any modification here.</li>
					   <li>In the event that the expert does not respond to your request to finish the project within the specified period, you can cancel the work with him and evaluate it.</li>
					   <li>Do not ask the expert for any points that is not explained in the project description, and remember to discuss all the details with him before you accept his offer and start work.</li>
					   <li>Do not use the external transfer and do not request any means of communication such as e-mail, social accounts or mobile... bhthy platform will not protect you in the event of any communication outside the site, and this may expose the account to closure.</li>
					</ul>

					<p *ngIf="!customFunction.IsRTL()">Expert:</p>
					<p>
						<ul *ngIf="!customFunction.IsRTL()">
						    <li>Your offer should be clear in detail and related to the project you are applying for, so study the matter well and provide a budget and time that is completely suitable for you.</li>
							<li>You will not be able to modify your offer after adding it unless the project owner contacts you, then you can modify your offer.</li>
							<li>Ask the owner of the project carefully about his project and its details before you start with it, and explain to him what you will do, and do not ask for information that you do not need, such as phone numbers and passwords.</li>
							<li>After the project owner accepts your offer, the project amount will be reserved from his account balance on a research site, and you will receive the amount when the project is received by the project owner.</li>
							<li>You can communicate via my research messages with the project owner at any time after he accepts your offer.</li>
							<li>After the project is completed, you can click on the Submit Project button and the project owner will receive a notification.
							<li>If your work is good and complete, the project owner will receive the project and you will receive the agreed amount.</li>
							<li>Placing or requesting external means of communication in the offers is prohibited and means losing the guarantee and protection of an independent site directly and may expose your account to closure at any time.</li>
							<li>Submitting offers on projects that you do not know how to work on and wasting the time of project owners through delays in implementation or non-implementation will lead to a negative evaluation of your account by them and may lead to the closure of your account on a research site.</li>
						</ul>



                    <h2 *ngIf="customFunction.IsRTL()" style="text-align: right;" class="blue-title">لنتمكن من ضمان حقك دائماً يرجى التأكد من اتباع القواعد التالية: </h2>
                    <p *ngIf="customFunction.IsRTL()" style="text-align: right;">صاحب المشروع:</p>
					 <p *ngIf="customFunction.IsRTL()" style="text-align: right;">

					    <ul *ngIf="customFunction.IsRTL()" style="text-align: right; direction:rtl;">
						   <li>قم بكتابة المشروع الخاص بك بشكل مفصل موضحا كل النقاط المطلوب من المستقل القيام بها بشكل واضح تماما حتى تحصل على أفضل عروض مناسبة لمشروعك، كذلك قم بتحديد مدة زمنية وميزانية مناسبة للمشروع.</li>
						   <li>ذا كان عرض الخبير مختلفاً في المدة والميزانية عن الذي عرضته أنت، وقمت باختياره سيكون عرض الخبير هو الساري من حيث مدة التنفيذ والميزانية.</li>
						   <li>يمكنك التواصل مع أي خبير يضيف عرضا على مشروعك، ويمكن للخبير أن يعدل عرضه بعد أن تتواصل أنت معه.</li>
						   <li>أي معلومات مهمة تعطيها للخبير تكون على مسؤوليتك الشخصية: كلمات المرور، رقم الهاتف، حساباتك الشخصية.</li>
						   <li>لن تتمكن من تعديل أي بيانات تتعلق بمشروعك بعد أن يتلقى مشروعك أول عرض من الخبراء .</li>
						   <li>عند حصول مشكلة مع الخبير حاول حلها معه بشكل ودي طالما لم تتسلم المشروع فهو لم يتسلم ماله بعد.</li>
						   <li>بعد أن تقبل عرض الخبير ستتمكن من مراسلته ضمن المشروع نفسه ودون حاجة لأي وسائل تواصل خارجية.</li>
						   <li>إذا أنهى الخبير عمله سيطلب تسليم المشروع وسيصلك تنبيه بذلك، إذا كان لديك أي تعديلات أو تفاصيل غير منجزة في المشروع يمكنك أن تطلب من المستقل إنجازها قبل أن تستلم المشروع.</li>
						   <li>في حال قمت باستلام المشروع فهذا يعني أنك حصلت تماما على ما أردت، وانتهى التواصل بينك وبين الخبير وحصل هو على أرباحه من العمل ولايمكنك إلغاء المشروع أو طلب أي تعديل هنا.</li>
						   <li>في حالة عدم تجاوب الخبير معك لإنهاء المشروع في المدة المحددة يمكنك إلغاء العمل معه وتقييمه.</li>
							<li>لا تطلب من الخبير أي نقاط غير موضحة في وصف المشروع، وتذكّر أن تناقش كل التفاصيل معه قبل أن تقبل عرضه ويبدأ بالعمل.</li>
							<li>لا تستخدم التحويل الخارجي ولا تطلب أي وسيلة للتواصل كالإيميل والحسابات الاجتماعية أو الجوال... موقع بحثي لن يحميك في حال تم أي تواصل خارج الموقع وقد يعرض هذا الأمر الحساب للإغلاق.</li>

						</ul>


					 <p *ngIf="customFunction.IsRTL()" style="text-align: right;">منفذ المشروع أو الخبير: </p>
					   <p *ngIf="customFunction.IsRTL()" style="text-align: right;">

							<ul *ngIf="customFunction.IsRTL()" style="text-align: right; direction:rtl;">
							   <li >العرض الخاص بك يجب أن يكون واضح التفاصيل ومتعلقا بالمشروع الذي تقدم عليه العرض، لذلك ادرس الأمر جيدا وقدم ميزانية ووقتا مناسبا لك تماما.</li>
							   <li>لن تتمكن من تعديل عرضك بعد إضافته إلا في حال تواصل معك صاحب المشروع فعندها يمكنك تعديل عرضك.</li>
								<li>استفسر من صاحب المشروع بشكل دقيق عن مشروعه وتفاصيله قبل أن تبدأ به ووضح له ما ستقوم بعمله، ولا تقم بطلب معلومات لا تحتاجها كرقم الهاتف وكلمات المرور.</li>
								<li>بعد أن يقوم صاحب المشروع بقبول عرضك سيتم حجز مبلغ المشروع من رصيد حسابه في موقع بحثي، وسيصلك المبلغ عندما يتم استلام المشروع من قبل صاحبه.</li>
								<li>يمكنك التواصل عبر رسائل بحثي مع صاحب المشروع في أي وقت بعد أن يقبل عرضك.</li>
								<li>بعد أن تتم المشروع يمكنك أن تضغط على زر تسليم المشروع وسيصل تنبيه لصاحب المشروع بذلك.</li>
								<li>في حال كان عملك جيدا وكاملا سيقوم صاحب المشروع باستلام المشروع وسيصلك المبلغ المتفق عليه.</li>
								<li>وضع وسائل تواصل خارجي أو طلبها في العروض ممنوع ويعني فقدان ضمان وحماية موقع مستقل مباشرة وقد يعرض حسابك للإغلاق في أي وقت.</li>
								<li>تقديمك لعروض على مشاريع لا تتقن العمل عليها وتضييعك لوقت أصحاب المشاريع من خلال التأخر في التنفيذ أو عدم التنفيذ سيؤدي لتقييم حسابك سلبا من قبلهم وقد يؤدي لإغلاق حسابك في موقع بحثي .</li>
							</ul>



       </div>

      </div>
    </div>

  </section>


</main>
<app-footer></app-footer>
