<main>

  <!-- inner banner -->
  <section class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <div class="inner-title">
            <h1 *ngIf="!customFunction.IsRTL()">
              <img src="assets/images/icon/faq.png" alt="" class="img-fluid icon-img" style="max-width: 7%;">

              {{ 'NAV.FAQ' | translate}}</h1>

              <h1 *ngIf="customFunction.IsRTL()" style="text-align: right;">
                <img src="assets/images/icon/faq.png" alt="" class="img-fluid icon-img" style="max-width: 7%;">
  
                {{ 'NAV.FAQ' | translate}}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="faq-section" *ngIf="!customFunction.IsRTL()">
    <div class="container">
      <div class="row">
                        <!-- ***** FAQ Start ***** -->
                       
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <div class="faq" id="accordion">
                                <div class="card">
                                    <div class="card-header" id="faqHeading-1">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                <span class="badge">1</span>What is mean “Bhthy” Words?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Bhthy its an Arabic word means "my research”, which reflect type of loyalty for the research work either
                                              from client or Expert. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-2">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                                <span class="badge">2</span> What is Bhthy platform?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Bhthy is a global platform that work as a third party to matchmake/intermediate between clients needs and
                                              individuals who are willing to offer payed services. A pioneer in freelance work services in multiple fields
                                              which are: Research, Data Analysis, Design, Programming and Translation. </p>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-3">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                                <span class="badge">3</span>Who are Bhthy users?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                        <div class="card-body">
                                            <ul class=" list">
                                              <li class="list-item">
                                                <b>The Client</b> (project’s owners) can find their supporters.
                                              </li>
                                              <li class="list-item">
                                                <b>The Expert</b>(the freelancer) can find their jobs.
                                              </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-4">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                                <span class="badge">4</span> What are Bhthy business objectives?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                        <div class="card-body">
                                          <ul>
                                            <li>To set up a marketplace for the demand and the supply of research skills and competencies</li>
                                            <li>To create a virtual workspace for freelancing to individuals working in research in all the fields.
                                            </li>
                                            <li>To guide and support Postgraduate students facing difficulties in executing specific parts of their
                                              research project.</li>
                                            <li>To help researchers to get access to talented Research Assistants (RAs) and help them to deliver
                                              their research projects within time and quality.</li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-5">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                                <span class="badge">5</span> What we do ?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>We deliver our clients quality services in research and studies field and we give our experts an
                                              opportunity to take financial control of their own life by working as freelancer.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-6">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6" data-aria-expanded="false" data-aria-controls="faqCollapse-6">
                                                <span class="badge">6</span> Why we do it?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>We believe that payed work should not be limited to job providers. By solving local problem and creating
                                              work opportunities in a modern way aligned with the trend of job market, we attempt and strive to be the
                                              facilitators that helps people to make money from their gained skills. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-7">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false" data-aria-controls="faqCollapse-7">
                                                <span class="badge">7</span> What are platform Services?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
                                        <div class="card-body">
                                          <ul>
                                            <li>Proposal/manuscript review</li>
                                            <li>Study design consultation</li>
                                            <li>Data collection</li>
                                            <li>Data analysis</li>
                                            <li>English Editing</li>
                                            <li>Translation</li>
                                            <li>Programming and designing tools for research ( Building a database, Designing a poster)</li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                  <div class="card-header" id="faqHeading-8">
                                      <div class="mb-0">
                                          <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-8" data-aria-expanded="false" data-aria-controls="faqCollapse-8">
                                              <span class="badge">8</span> What can users do?
                                          </h5>
                                      </div>
                                  </div>
                                  <div id="faqCollapse-8" class="collapse" aria-labelledby="faqHeading-8" data-parent="#accordion">
                                      <div class="card-body">
                                        <p>As <b>Client</b> , they can easily login to the site and immediately start posting their project. Once
                                          your
                                          project is</p>
                                        <ul>
                                          <li>Displayed, you can search for the suitable Expert and invite them to join you.</li>
                                          <li>Create profile</li>
                                          <li>Post a project</li>
                                          <li>Find the Expert</li>
                                          <li>Invite Expert to bid</li>
                                          <li>Complete the project when the freelancer can't fulfill your need</li>
                                          <li>Receive instant notification</li>
                                        </ul>
                                        <p>
                                          As an <b>Expert</b> , they can provide their detailed information and find out the potential projects:</p>
                                        <ul>
                                          <li>Create profile</li>
                                          <li>Add portfolios and attached files</li>
                                          <li>Search for projects</li>
                                          <li>Bid on a project</li>
                                          <li>Quit a project</li>
                                          <li>Review employer</li>
                                          <li>Receive live notification</li>
                                        </ul>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-center" style="display:none;">
                          <div class="abt-img">
                            <img alt="" src="assets/images/about.jpg" class="img-fluid">
                          </div>
                        </div>

                      </div>
                    </div>
                    </section>

                    <section class="faq-section arb" *ngIf="customFunction.IsRTL()">
                      <div class="container">
                        <div class="row">
                                          <!-- ***** FAQ Start ***** -->
                                         
                                          <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                              <div class="faq" id="accordion">
                                                  <div class="card">
                                                      <div class="card-header" id="faqHeading-1">
                                                          <div class="mb-0">
                                                              <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                                  <span class="badge">+</span>ماذا تعني كلمة "بحثي"؟
                                                              </h5>
                                                          </div>
                                                      </div>
                                                      <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                                          <div class="card-body">
                                                              <p>كلمة ترمز إلى الولاء للعمل البحثي سواء من العميل أو الخبير.</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="card">
                                                      <div class="card-header" id="faqHeading-2">
                                                          <div class="mb-0">
                                                              <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                                                  <span class="badge">+</span> ما هي منصة بحثي؟
                                                              </h5>
                                                          </div>
                                                      </div>
                                                      <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                                          <div class="card-body">
                                                            <p>عبارة عن منصة عالمية تعمل كطرف ثالث للتوفيق بين احتياجات العملاء والأفراد الراغبين في تقديم خدمات مدفوعة
                                                              الأجر. صنع عمل حر لمجموعة أفراد في التخصصات التالية: البحث وتحليل البيانات والتصميم والبرمجة والترجمة.
                                                            </p>
                                                             
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="card">
                                                      <div class="card-header" id="faqHeading-3">
                                                          <div class="mb-0">
                                                              <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                                                  <span class="badge">+</span>من هم مستخدمين منصة بحثي؟
                                                              </h5>
                                                          </div>
                                                      </div>
                                                      <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                                          <div class="card-body">
                                                            <ul>
                                                              <li> فريلانسرز (أصحاب العمل المستقلون): يمكن لخبير بـ إعداد البحوث والباحثين أنفسهم ومساعدي
                                                                الباحثين العثور على وظيفة من خلال المنصة، بالإضافة إلى أن يكونوا جزءًا من أيّة مشروع مناسب..</li>
                                                              <li> العملاء: من أصحاب المشاريع، يصبحون قادرين على إيجاد المساعدة والدعم من خلال المنصة.
                                                              </li>
                                                            </ul>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="card">
                                                      <div class="card-header" id="faqHeading-4">
                                                          <div class="mb-0">
                                                              <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                                                  <span class="badge">+</span> ما هي الأهداف المرجو تحقيقها في بحثي؟
                                                              </h5>
                                                          </div>
                                                      </div>
                                                      <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                                          <div class="card-body">
                                                            <ul>
                                                              <li>إنشاء سوق للطلب وتوفير المهارات والكفاءات البحثية</li>
                                                              <li> إنشاء مساحة عمل افتراضية للعمل الحر للأفراد العاملين في مجال البحث في جميع المجالات.</li>
                                                              <li>توجيه ودعم طلاب الدراسات العليا الذين يواجهون صعوبات في تنفيذ أجزاء معينة من مشروعهم البحثي.</li>
                                                              <li> لمساعدة الباحثين على الوصول إلى خبراء أبحاث ومساعدتهم على تنفيذ مشاريعهم البحثية في الوقت
                                                                المحدد وبجودة عالية.</li>
                                                            </ul>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="card">
                                                      <div class="card-header" id="faqHeading-5">
                                                          <div class="mb-0">
                                                              <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                                                  <span class="badge">+</span> على ماذا نقوم؟
                                                              </h5>
                                                          </div>
                                                      </div>
                                                      <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                                                          <div class="card-body">
                                                            <p> نقدم لعملائنا خدمات عالية الجودة في مجال البحوث والدراسات ونمنح خبرائنا فرص عمل وإيجاد مصدر مالي
                                                              في حياتهم من خلال العمل في المنصة.</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="card">
                                                      <div class="card-header" id="faqHeading-6">
                                                          <div class="mb-0">
                                                              <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6" data-aria-expanded="false" data-aria-controls="faqCollapse-6">
                                                                  <span class="badge">+</span> لماذا أسست المنصة؟
                                                              </h5>
                                                          </div>
                                                      </div>
                                                      <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
                                                          <div class="card-body">
                                                            <p>نؤمن بأن العمل الحر لا ينبغي أن يقتصر على الوظائف الثابته، حيث سعينا إلى خلق فرص عمل بطريقة حديثة
                                                              تتماشى مع اتجاه سوق العمل ، والمساهمة في حل مشكلة ارتفاع الباحثين عن عمل وإيجاد فرص مناسبة
                                                              لخبراتهم.</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="card">
                                                      <div class="card-header" id="faqHeading-7">
                                                          <div class="mb-0">
                                                              <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false" data-aria-controls="faqCollapse-7">
                                                                  <span class="badge">+</span> ما هي الخدمات التي تقدمها المنصة؟
                                                              </h5>
                                                          </div>
                                                      </div>
                                                      <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
                                                          <div class="card-body">
                                                            <p>رائدون في تقديم خدمات الأعمال المستقلة في مجالات عدّة، منها: كتابة البحوث، خدمات البيانات، التصميم،
                                                              البرجمة والترجمة.</p>
                                                            <ol>
                                                              <li> كتابة البحوث: تتضمن تصميم البحث، أسئلة البحث وأهدافه، مراجعة الأدبيات، مراجعة التصورات والأوراق
                                                                العلمية.</li>
                                                              <li>خدمات البيانات: تشمل جمع البيانات، إدخال البيانات، البيانات المفقودة، ومدقق صِحّة وموثوقية البيانات
                                                                وتحليلها، الرسوم البيانية والجداول والتفسيرات، كتابة التقارير الإحصائية والمراجعات.
                                                              </li>
                                                              <li>التصميم: تصميم العروض التقديمية والأوراق البحثية.
                                                              </li>
                                                              <li>البرمجة: تتضمن تطبيقات لكلٍّ من عملية جمع وتمثيل البيانات، علوم البيانات ولوحة القيادة.
                                                              </li>
                                                              <li>الترجمة: ترجمة المخطوطات الكتابية والتصوّرات والتدقيق اللغوي.</li>
                                                              <li>
                                                                <h6> خدمة كتابة البحوث:-</h6>
                                                                <p> تصميم البحث: يتم إعداد دراسة تصوّرية قبل البدء في عملية تجميع البيانات.</p>
                                                
                                                                <p> أسئلة البحث وأهدافه: تحديد الأسئلة العلمية التي يمكن الإجابة عليها في البحث أو الإشارة إلى أهداف
                                                                  البحث.
                                                                  مراجعة الأدبيات: الوصول إلى قاعدة البيانات الصحيحة والعمل على البيانات وتحليلها.
                                                                  مراجعة التصورات: المساعدة في تقديم منحة أو بحث أو تصور تمويل بنجاح.
                                                                  مراجعة الأوراق العلمية: مراجعة الأوراق العلمية والتحقق ما إذا كانت جاهزة للنشر أم لا.
                                                                </p>
                                                              </li>
                                                              <li>أدوات برمجة وتصميم البحث (بناء قاعدة بيانات ، تصميم بوستر).</li>
                                                              <li>
                                                                <h6> خدمات البيانات:-</h6>
                                                                <ol>
                                                                  <li> جمع البيانات: توجيه ومراجعة الإجراءات المتبعة في عملية جمع البيانات.</li>
                                                                  <li>تحليل البيانات: تطبيق التقنيات المستخدمة في تحليل البيانات</li>
                                                                  <li>البيانات المفقودة: القدرة على معالجة البيانات المفقودة بطريقتين، وهما: احتساب البيانات وحذف
                                                                    البيانات.</li>
                                                                  <li>التحقق من صِحة وموثوقية البيانات: تقييم جودة البحث باستخدام أدوات تحقق صِحة أو موثوقية البيانات.
                                                                  </li>
                                                                  <li>الجداول والرسوم البيانية: تصوير الاستنتاجات بيانيًّا بطريقة تتوافق مع المتطلبات التي تحددها
                                                                    الورقة العلمية التي يريد العميل نشرها.</li>
                                                                  <li>تفسير الرسوم البيانية: شرح وفهم ما تعرضه الرسومات والجداول البيانية وتحديد نتائج تحليل البيانات.
                                                                  </li>
                                                                  <li>كتابة التقارير الإحصائية</li>
                                                                  <li>مراجعة التقارير أو الجزئيات الإحصائية: مراجعة الجزء الإحصائي من البحث والتأكد من التقرير قبل
                                                                    نشره.</li>
                                                                </ol>
                                                              </li>
                                                              <li>
                                                                <h6>خدمات التصميم:-</h6>
                                                                <ol>
                                                                  <li>تصميم العروض التقديمية</li>
                                                                  <li>استخدام عدة برامج للتصميم، مثل: برامج مايكروسوفت لتصميم العرض التقديمي والأوراق البحثية</li>
                                                                  <li>تصميم الأوراق البحثية</li>
                                                                </ol>
                                                              </li>
                                                              <li>
                                                                <h6>خدمات البرمجة:-</h6>
                                                                <ol>
                                                                  <li>طلب لجمع البيانات</li>
                                                                  <li>القدرة على تصميم تطبيقات لــ :
                                                                    <ol>
                                                                      <li>طلب لتمثيل البيانات</li>
                                                                      <li>علوم البيانات: القدرة على التعامل مع أنواع مختلفة من البرامج الإحصائية.</li>
                                                                      <li>لوحة القيادة: استخدام أداة إدارة المعلومات التي تتتبع بصريًا وتقيّم وتعرض مؤشرات الأداء
                                                                        الرئيسية جنبًا إلى جنب مع المقاييس.</li>
                                                                    </ol>
                                                                  </li>
                                                                  <li>
                                                                    <h6>خدمات الترجمة:-</h6>
                                                                    <ol>
                                                                      <li>ترجمة المادة المطبوعة: تأكيد وتوجيه المادة المطبوعة إذا كانت تتناسب مع المعيار المطلوب
                                                                        للنشر، وتحسين جودتها.</li>
                                                                      <li>ترجمة التصورات: القدرة على ترجمة التصورات لكلٍّ من الأوراق البحثية والمشروع.</li>
                                                                      <li>التدقيق اللغوي: قراءة النسخة إلكترونية من منشور لإيجاد وتصحيح الأخطاء اللغوية في نص
                                                                        الأوراق البحثية.</li>
                                                                    </ol>
                                                                  </li>
                                                                  <li></li>
                                                                  <li></li>
                                                                </ol>
                                                              </li>
                                                            </ol>
                                                          </div>
                                                      </div>
                                                  </div>
                  
                                                  <div class="card">
                                                    <div class="card-header" id="faqHeading-8">
                                                        <div class="mb-0">
                                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-8" data-aria-expanded="false" data-aria-controls="faqCollapse-8">
                                                                <span class="badge">+</span> ماذا يمكن أن يفعل المستخدمون؟
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div id="faqCollapse-8" class="collapse" aria-labelledby="faqHeading-8" data-parent="#accordion">
                                                        <div class="card-body">
                                                          <ul>
                                                            <li> <b>العملاء</b>، يمكنهم بسهولة تسجيل الدخول إلى الموقع والبدء في نشر مشروعهم. بمجرد أن يصبح
                                                              مشروعك
                                                              معروض ، يمكنك البحث عن الخبير المناسب ودعوتهم للانضمام إليك.
                                                              <ol>
                                                                <li>إنشاء ملف تعريف</li>
                                                                <li>أضف مشروعًا</li>
                                                                <li>ابحث عن الخبير</li>
                                                                <li>دعوة الخبراء لتقديم الخدمات</li>
                                                                <li>أكمل المشروع عندما لا يستطيع الخبير تلبية احتياجاتك</li>
                                                                <li>تلقي إخطار فوري</li>
                                                              </ol>
                                                            </li>
                                                            <li>
                                                              <b>الخبير</b>، يمكنهم تقديم معلوماتهم التفصيلية ومعرفة الخدمات الممكن تقديمها في المنصة:
                                                              <ol>
                                                                <li>إنشاء ملف تعريف</li>
                                                                <li> إضافة السيرة الذاتيه والنماذج السابقة للعمل</li>
                                                                <li>ابحث عن المشاريع</li>
                                                                <li>المزايدة على مشروع</li>
                                                                <li>قم بإنهاء المشروع</li>
                                                                <li>مراجعة صاحب العمل</li>
                                                                <li>تلقي إشعار مباشر</li>
                                                              </ol>
                                                            </li>
                                                          </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-center" style="display:none;">
                                            <div class="abt-img">
                                              <img alt="" src="assets/images/about.jpg" class="img-fluid">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      </section>

  
</main>
<app-footer></app-footer>
