<!-- Forget password -->
<section class="pt-90 ">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <form class="forget_Form" action="#" #forgetForm="ngForm">
              <div class="form-group">
                <input type="text" class="form-control" id="username" placeholder="{{'BASE.EMAIL' | translate}}"
                  name="email" required>
                <!-- <span class="messages" *ngIf="!(email.errors && email?.dirty
                  && email?.errors?.pattern) && email.errors &&
                  (email.dirty || email.touched || forgetForm.submitted)">
                  <p class="text-danger error">Please enter email</p>
                </span> -->
              </div>
              <button type="submit" class="btn btn-green  btn-block">{{'BASE.SUBMIT' | translate}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
