<!-- Forget password -->
<section class="pt-90 ">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3">
        <div class="card shadow-sm">
          <div class="card-body">
            <form class="forget_Form" [formGroup]="resetPasswordForm">
              <div class="group">
                <label for="NewPassword" class="label">{{'BASE.NEW_PASSWORD' | translate}}</label>
                <input id="NewPassword" type="password" class="input form-control" data-type="password" formControlName="password">
              </div>
              <div class="group">
                <label for="ConfirmNewPassword" class="label">{{'BASE.CONFIRM_PASSWORD' | translate}}</label>
                <input id="ConfirmNewPassword" type="password" class="input form-control" data-type="password"
                  formControlName="passwordConfirm">
                <div *ngIf="!resetPasswordForm.controls.passwordConfirm.hasError('required') &&
                                       resetPasswordForm.controls.passwordConfirm.hasError('passwordsNotMatching')">
                  password Not Confirmed
                </div>
              </div>
              <br>
              <button type="button" (click)="resetPassword()" class="btn btn-success btn-sm">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-account-footer style="position: fixed; left: 0; bottom: 0; width: 100%;"></app-account-footer>
