<main>

  <!-- inner banner -->
  <section class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <div class="inner-title">
            <h1 *ngIf="!customFunction.IsRTL()">
              <img src="assets/images/icon/terms.png" alt="" class="img-fluid icon-img" style="max-width: 7%;">

              Terms & Conditions</h1>

              <h1 *ngIf="customFunction.IsRTL()" style="text-align: right;">
                <img src="assets/images/icon/terms.png" alt="" class="img-fluid icon-img" style="max-width: 7%;">

                الشروط والأحكام
              </h1>
          </div>
        </div>
      </div>
    </div>
  </section>
<br><br>
  <section>

    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <article *ngIf="!customFunction.IsRTL()" class="terms-and-conditions">
          <h2>Welcome to our website</h2>
          <p>These terms and conditions outline the rules and regulations for our company's use.</p>
          <p>
            By accessing this website, we assume you accept these terms and conditions. Do not continue to use our website if you do not agree to take all of the terms and conditions stated on this page.
          </p>
          <p>
           The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: “Client”, “You”, and “Your” refers to you; the person logging on to this website is compliant with the Company's terms and conditions. “The Company”, “Ourselves”, “We”, “Our”, and “Us” refers to our Company. “Party”, “Parties”, or “Us” refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's needs in respect of the provision of the Company's stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or they or they are taken as interchangeable and therefore as referring to the same.
          </p>
          <h3>General Terms </h3>
          <p>
            Only registered users may buy and sell on Bhthy Platform. Registration is free. In registering for an account, you agree to provide us with accurate, complete and updated information and must not create an account for fraudulent or misleading purposes. You are solely responsible for any activity on your account and for maintaining the confidentiality and security of your password. We are not liable for any acts or omissions by you in connection with your account.
          </p>
		  <h3>Cookies</h3>
          <p>
            We employ the use of cookies. By accessing our website, you agree to use cookies in agreement with our company's Privacy Policy. Most interactive websites use cookies to let us retrieve the user's details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
          </p>
          <h3>License</h3>
          <p>
           Unless otherwise stated, Bhthy and its licensors own the intellectual property rights for all material on our website. All intellectual property rights are reserved. You may access this from our website for your own personal use, subject to restrictions set in these terms and conditions.
          </p>
          <p>You must not:</p>
          <ul>
            <li>Republish material from our website</li>
            <li>Sell, rent or sub-license material from our website</li>
            <li>Reproduce, duplicate or copy material from our website</li>
            <li>Redistribute content from our website</li>
          </ul>
          <p>This Agreement shall begin on the date hereof.</p>
          <p>
            Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Bhthy does not filter, edit, publish or review Comments before their presence on the website. Comments do not reflect the views and opinions of Bhthy, its agents and/or affiliates. Comments reflect the views and opinions of the person who posts their views and opinions. To the extent permitted by applicable laws, Bhthy shall not be liable for the Comments or any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.
          </p>
          <p>
            Bhthy reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes a breach of these Terms and Conditions.
          </p>
          <p>You warrant and represent that:</p>
          <ul>
            <li>
              You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;
            </li>
            <li>
              The Comments do not invade any intellectual property right, including without limitation copyright, patent
              or trademark of any third party;
            </li>
            <li>
              The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material
              which is an invasion of privacy
            </li>
            <li>
              The Comments will not be used to solicit or promote business or custom or present commercial activities or
              unlawful activity.
            </li>
          </ul>
          <p>
            You hereby grant Bhthy a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.
          </p>
          <h2>Hyperlinking to our Content</h2>
          <p>The following organizations may link to our website without prior written approval:</p>
          <ul>
            <li>Government agencies;</li>
            <li>Search engines;</li>
            <li>News organizations;</li>
            <li>
              Online directory distributors may link to our website in the same manner as they hyperlink to the websites
              of other listed businesses; and
            </li>
            <li>
              System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and
              charity fundraising groups which may not hyperlink to our Web site.
            </li>
          </ul>
          <p>
            These organizations may link to our home page, to publications or to other website information so long as the link:
			<ul  style="list-style: none;">
				<li>(a) is not in any way deceptive;
				<li>(b) does not falsely imply sponsorship, endorsement or approval of the
				linking party and its products and/or services; and </li>
				<li>(c) fits within the context of the linking party's site.</li>
			</ul>
          <p>We may consider and approve other link requests from the following types of organizations:</p>
          <ul>
            <li>commonly-known consumer and/or business information sources;</li>
            <li>dot.com community sites;</li>
            <li>associations or other groups representing charities;</li>
            <li>online directory distributors;</li>
            <li>internet portals;</li>
            <li>accounting, law and consulting firms; and</li>
            <li>educational institutions and trade associations.</li>
          </ul>
          <p>
            We will approve link requests from these organizations if we decide that:
			<ul  style="list-style: none;">
				<li>(a) the link would not make us look
				unfavorably to ourselves or to our accredited businesses; </li>
				<li>(b) the organization does not have any negative
				records with us; </li>
				<li>(c) the benefit to us from the visibility of the hyperlink compensates the absence of LOPYI;and </li>
				<li>(d) the link is in the context of general resource information.</li>
			</ul>
          <p>
            These organizations may link to our home page so long as the link:
            <ul  style="list-style: none;">
				<li>(a) is not in any way deceptive;</li>
				<li>(b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and</li>
                <li>(c) fits within the context of the linking party's site.</li>
			</ul>
          <p>
            If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website,
            you must inform us by sending an e-mail to our company. Please include your name, your organization name,
            contact information as well as the URL of your site, a list of any URLs from which you intend to link to our
            website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.
          </p>
          <p>Approved organizations may hyperlink to our website as follows:</p>
          <ul>
            <li>By use of our corporate name; or</li>
            <li>By use of the uniform resource locator being linked to; or</li>
            <li>By use of any other description of our website being linked to that makes sense within the context and format of content on the linking party's site.
            </li>
            <li>No use of our company's logo or other artwork will be allowed for linking absent a trademark license agreement.
            </li>
          </ul>
          <h3>iFrames</h3>
          <p>
            Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our website.
          </p>
          <h3>Content Liability</h3>
          <p>
            We shall not be hold responsible for any content that appears on your website. You agree to protect and defend us against all claims that is rising on your website. No link(s) should appear on any website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the
            infringement or other violation of, any third party rights.
          </p>
          <h3>Reservation of Rights</h3>
          <p>
            We reserve the right to request that you remove all links or any particular link to our website. You approve
            to immediately remove all links to our website upon request. We also reserve the right to amen these terms and
            conditions and it's linking policy at any time. By continuously linking to our website, you agree to be bound
            to and follow these linking terms and conditions.
          </p>
          <h3>Removal of links from our website</h3>
          <p>
            If you find any link on our website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you
            directly.
          </p>
          <p>
            We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.
          </p>
          <h3>The Accounts</h3>

          <ul>


			<li>The user is obligated not to create more than one account on the Bhthy platform, and if the user encounters a problem with their first account, they must follow up with a Bahthy team to solve the problem.</li>
			<li>The registered user of Bhthy platform undertakes that he/she is the only one who uses the account and is responsible for everything done through their account. It is currently not allowed for more than one person to use one account.</li>
			<li>Bhthy platform may request personal documents such as identity or passport to prove the user's identity before allowing them to continue using the platform.</li>
			<li>Bhthy team may suspend the account of any user suspected of violating the terms, and Bhthy platform has the right to request personal documents about the user proving their identity to reactivate the account. Documents may also be requested to confirm their ownership of the PayPal account or credit card.</li>
			<li>Bhthy platform has the right to permanently ban accounts that violate the terms of the platform or those that cause harm to the platform or its users without reference to the user or warning.</li>
			<li>If the user violates our terms of service, their account will be temporarily or permanently suspended from our platform. The user is notified via the website or e-mail. Illegal uses that may result in account suspension or suspension include:</li>
			<li>The user uses a payment method that is stolen or not owned by them.</li>
			<li>Using the account by more than one person, whether they are a team or a company, where only one person is allowed to use the account independently and work on projects in it.</li>
			<li>The expert plays the role of mediator in the projects so that he receives a project as an expert and then hires another person to work on it outside or inside Bhthy platform (in this case, the mediator is suspended and obligated to pay any owned amounts and do any work at the discretion of technical support).</li>
			<li>The user attempts to defraud the Bhthy platform by requesting complete work in messages before hiring it.</li>
			<li>The user causes any harm to any other user or Bhthy platform.</li>
			<li>The expert evaded paying the platform’s commission through external payment directly.
			<li>Insist on communicating outside Bhthy platform without necessity.</li>
			<li>The expert avoids following up on the work after starting it without a logical or real reason and wastes the researcher’s time.</li>
			<li>The expert’s publication of a work not prepared by him/her in his/her works.</li>
			<li>The expert submits offers on projects he does not master, implements low-quality work, or relies on automated programs to implement the project. For example, relying on machine translation programs, automatically generating logos and designs, or providing less quality work than in the business section. </li>
			<li>User impersonation of another person on the site.</li>
			<li>Uploading a profile picture of the account that is not the picture of the owner of the account itself, including the use of pictures of public figures.</li>
			<li>Selling the account. When an account being solved is discovered, it will immediately be suspended with its balance, and no party can benefit from it.</li>
			<li>The expert creates more than one account and uses them for whatever reason.</li>
			<li>Post fake projects or spam.</li>
			<li>Use Google Adwords to advertise the expert's work or other Bhthy platform content.</li>

          </ul>
           <h3>Disclaimer</h3>
		   <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the </p>
		   <p>use of this website. Nothing in this disclaimer will:</p>
		    <ul>
				<li>limit or exclude our or your liability for death or personal injury;</li>
				<li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
				<li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
				<li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>

			</ul>
			 <p>The limitations and prohibitions of liability are set in this Section and elsewhere in this disclaimer:</p>
				<ul style="list-style: none;">
					<li>(a) are subject to the preceding paragraph</li>
					<li>(b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</li>
				</ul>
				<p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
        </article>



        <article *ngIf="customFunction.IsRTL()" class="terms-and-conditions" style="text-align: right;">
          <h2>أهلا بك في موقعنا</h2>
          <p>تحدد هذه الشروط والأحكام القواعد واللوائح الخاصة باستخدام شركتنا</p>
          <p>
            من خلال الوصول إلى هذا الموقع، نفترض أنك تقبل هذه الشروط والأحكام. لا تستمر في استخدام موقعنا على شبكة الإنترنت إذا كنت لا توافق على أخذ جميع الشروط والأحكام المذكورة في هذه الصفحة.
          </p>
          <p>
            تنطبق المصطلحات التالية على هذه الشروط والأحكام وبيان الخصوصية وإشعار إخلاء المسؤولية وجميع الاتفاقيات: يشير مصطلح "العميل" و "أنت" و "الخاص بك" إليك، والشخص الذي يقوم بتسجيل الدخول إلى هذا الموقع يتوافق مع شروط وأحكام الشركة. تشير "الشركة" و "أنفسنا"  و "لنا" و "نحن" إلى شركتنا. يشير "الطرف" أو "الأطراف" أو "نحن" إلى كل من العميل وأنفسنا. تشير جميع الشروط إلى العرض والقبول والنظر في الدفع اللازم للاضطلاع بعملية مساعدتنا للعميل بالطريقة الأنسب للغرض الصريح المتمثل في تلبية احتياجات العميل فيما يتعلق بتوفير خدمات الشركة المعلنة، وفقًا لـ للقانون السائد في هولندا. أي استخدام المصطلحات المذكورة أعلاه أو غيرها من الكلمات في صيغة المفرد والجمع و / أو هو / هي أو هم ، يتم اعتباره قابلاً للتبادل وبالتالي يشير إلى نفسه
          </p>
          <h3>الشروط العامة</h3>
          <p>
            يمكن للمستخدمين المسجلين فقط الشراء والبيع على منصة بحثي. التسجيل مجاني. عند التسجيل للحصول على حساب ، فإنك توافق على تزويدنا بمعلومات دقيقة وكاملة ومحدثة ويجب ألا تنشئ حسابًا لأغراض احتيالية أو مضللة. أنت وحدك المسؤول عن أي نشاط على حسابك وعن الحفاظ على سرية وأمن كلمة المرور الخاصة بك. نحن لسنا مسؤولين عن أي أفعال أو إغفالات من جانبك فيما يتعلق بحسابك.
          </p>

          <h3>ملفات تعريف الارتباط</h3>
          <p>
            نحن نوظف استخدام ملفات تعريف الارتباط . من خلال الوصول إلى موقعنا، فإنك توافق على استخدام ملفات تعريف الارتباط بالاتفاق مع سياسة الخصوصية الخاصة بشركتنا.
          </p>
		  <p>دم معظم مواقع الويب التفاعلية ملفات تعريف الارتباط للسماح لنا باسترداد تفاصيل المستخدم لكل زيارة. يستخدم موقعنا ملفات تعريف الارتباط لتمكين وظائف مناطق معينة لتسهيل زيارة الأشخاص لموقعنا. قد يستخدم بعض الشركاء التابعين / المعلنين أيضًا ملفات تعريف الارتباط.</p>
          <h3>الترخيص</h3>
		  <p>ما لم يُنص على خلاف ذلك ، يمتلك المرخصون التابعون لها حقوق الملكية الفكرية لجميع المواد الموجودة على موقعنا. جميع حقوق الملكية الفكرية محفوظة. يمكنك الوصول إلى هذا من موقعنا على الإنترنت لاستخدامك الشخصي مع مراعاة القيود المنصوص عليها في هذه الشروط والأحكام. تبدأ هذه الاتفاقية في تاريخ الموافقة .</p>
		  <p>لا يجب عليك:</p>
          <ul style="text-align: right; direction:rtl;">
            <li>إعادة نشر المواد من موقعنا</li>
            <li>بيع أو تأجير أو ترخيص المواد من موقعنا على الإنترنت</li>
            <li>إعادة إنتاج نسخ المواد من موقعنا</li>
            <li>إعادة توزيع المحتوى من موقعنا</li>
			<li>تبدأ هذه الاتفاقية في تاريخها</li>
			<li>توفر أجزاء من هذا الموقع فرصة للمستخدمين لنشر وتبادل الآراء والمعلومات في قسم الدردشة</li>
          </ul>
          <p>توفر أجزاء من هذا الموقع فرصة للمستخدمين لنشر وتبادل الآراء والمعلومات في قسم الدردشة. نتحتفظ بالحق في مراقبة جميع التعليقات وإزالة أي تعليقات يمكن اعتبارها غير ملائمة أو مسيئة أو تسبب انتهاكًا لهذه الشروط والأحكام.</p>
          <p>
            أنت تضمن وتمثل ما يلي:
          </p>

          <ul style="text-align: right; direction:rtl;">
            <li>يحق لك نشر التعليقات على موقعنا والحصول على جميع التراخيص والموافقات اللازمة للقيام بذل
            </li>
            <li>لا تنتهك التعليقات أي حق من حقوق الملكية الفكرية، بما في ذلك على سبيل المثال لا الحصر حقوق النشر أو براءات الاختراع أو العلامات التجارية لأي طرف ثالث
            </li>
            <li>لا تحتوي التعليقات على أي مواد تشهيرية أو مسيئة أو غير لائقة أو غير قانونية بأي شكل مما يعد انتهاكًا للخصوصية
            </li>
            <li>لن يتم استخدام التعليقات لالتماس أو الترويج للأعمال أو الأنشطة التجارية المخصصة أو الحالية أو نشاط غير قانوني
            </li>
          </ul>
          <p>
            أنت تمنح بموجب هذا ترخيصًا غير حصري لاستخدام وإعادة إنتاج وتحرير وتفويض الآخرين لاستخدام وإعادة إنتاج وتحرير أي من تعليقاتك في أي وجميع الأشكال أو التنسيقات أو الوسائط
          </p>
          <h2>الارتباط التشعبي الى المحتوى الخاص بنا</h2>
          <p>يجوز للمنظمات التالية الارتباط بموقعنا على الويب دون موافقة كتابية مسبقة:</p>
          <ul style="text-align: right; direction:rtl;">
            <li>وكالات الحكومة</li>
            <li>محركات البحث</li>
            <li>المنظمات الإخبارية</li>
            <li>موزعي الدليل عبر الانترنت حيث يمكنهم الارتباط بموقعنا على الويب بنفس طريقة الارتباط التشعبي لمواقع الويب الخاصة بشركات أخرى مدرجة
            </li>
            <li>الشركات المعتمدة على مستوى النظام باستثناء طلب المنظمات غير الربحية ومراكز التسوق الخيرية ومجموعات جمع التبرعات الخيرية التي قد لا ترتبط ارتباطًا تشعبيًا بموقعنا على الويب
            </li>
          </ul>
          <p>
           قد ترتبط هذه المنظمات بصفحتنا الرئيسية أو بالمنشورات أو بمعلومات أخرى على موقع الويب طالما أن الرابط:
          </p>

          <ul style="text-align: right; direction:rtl;">
            <li>يس مضللاً بأي شكل من الأشكال</li>
            <li>لا يعني ضمنيًا رعاية أو تأييد أو موافقة الطرف المرتبط ومنتجاته و / أو خدماته</li>
            <li>يناسب سياق موقع الطرف المرتبط</li>

          </ul>

		   <p>
          يجوز لفريق بحثي النظر في طلبات الارتباط الأخرى والموافقة عليها من الأنواع التالية من المؤسسات:
          </p>

          <ul style="text-align: right; direction:rtl;">

				<li>مصادر معلومات المستهلك و / أو الأعمال المعروفة</li>
				<li>مواقع مجتمع dot.com</li>
				<li>الجمعيات أو المجموعات الأخرى التي تمثل الجمعيات الخيرية</li>
				<li>موزعي الدليل عبر الإنترنت</li>
				<li>بوابات الإنترنت</li>
				<li>شركات المحاسبة والقانون والاستشارات والمؤسسات التعليمية والجمعيات التجارية</li>

          </ul>

		  <p>
         سنوافق على طلبات الارتباط من هذه المنظمات إذا قررنا ما يلي:
          </p>

          <ul style="text-align: right; direction:rtl;">

				<li>لن يجعلنا الرابط ننظر إلى أنفسنا أو إلى أعمالنا المعتمدة بشكل سلبي</li>
				<li>ليس لدى المنظمة أي سجلات سلبية معنا</li>
				<li>تعوض الفائدة التي تعود علينا من رؤية الارتباط التشعبي غياب</li>
				<li>الارتباط في سياق معلومات الموارد العامة</li>

          </ul>

		  <p> قد ترتبط هذه المنظمات بصفحتنا الرئيسية طالما أن الرابط:</p>

          <ul style="text-align: right; direction:rtl;">

				<li>ليس مخادعًا بأي شكل من الأشكال</li>
				<li>لا يعني ضمنيًا رعاية أو تأييد أو موافقة الطرف المرتبط ومنتجاته أو خدماته</li>
				<li>يناسب سياق موقع الطرف المرتبط</li>
          </ul>






          <p>
            إذا كنت أحد المنظمات المدرجة في الفقرة 2 أعلاه وتهتم بالارتباط بموقعنا على الويب، فيجب عليك إبلاغنا عن طريق إرسال بريد إلكتروني إلى شركتنا. يرجى تضمين اسمك واسم مؤسستك ومعلومات الاتصال بالإضافة إلى عنوان URL لموقعك وقائمة بأي عناوين URL تنوي الارتباط بموقعنا على الويب وقائمة عناوين URL الموجودة على موقعنا والتي ترغب في الوصول إليها حلقة الوصل. عليك الانتظار 2-3 اسابيع ليصلك الرد من الفريق.
          </p>
          <p>
            يجوز للمنظمات المعتمدة الارتباط التشعبي لموقعنا على النحو التالي:
          </p>


          <ul style="text-align: right; direction:rtl;">
            <li>استخدام اسم شركتنا</li>
            <li>استخدام محدد موقع الموارد الموحد الذي يتم ربطه</li>
            <li>استخدام أي وصف آخر لموقعنا على الويب يتم ربطه بهذا الأمر في سياق وشكل المحتوى على موقع الطرف المرتبط</li>
          </ul>
		  <p>لن يُسمح بأي استخدام لشعار شركتنا أو أي عمل فني آخر لربط غياب اتفاقية ترخيص العلامة التجارية.</p>
          <h3>إطارات</h3>
          <p>
            بدون موافقة مسبقة وإذن كتابي، لا يجوز لك إنشاء إطارات حول صفحات الويب الخاصة بنا والتي تغير بأي شكل من الأشكال العرض التقديمي المرئي لموقعنا أو مظهره.
          </p>
          <h3>المسؤولية عن المحتوى</h3>
          <p>
            لن نتحمل المسؤولية عن أي محتوى يظهر على موقع الويب الخاص بك. أنت توافق على حمايتنا والدفاع عنا ضد جميع المطالبات التي تنشأ على موقع الويب الخاص بك. يجب ألا يظهر أي رابط (روابط) على أي موقع ويب يمكن تفسيره على أنه تشهيري أو فاحش أو إجرامي، أو ينتهك أو يدعو إلى التعدي أو الانتهاك الآخر لحقوق أي طرف ثالث.
          </p>
          <h3>تحفظ الحقوق</h3>
          <p>
           نحتفظ بالحق في مطالبتك بإزالة جميع الروابط أو أي رابط معين لموقعنا على الويب. أنت توافق على إزالة جميع الروابط إلى موقعنا على الفور عند الطلب. نحتفظ أيضًا بالحق في تعديل هذه الشروط والأحكام وسياسة الربط الخاصة بها في أي وقت. من خلال الارتباط المستمر بموقعنا ، فإنك توافق على الالتزام بشروط وأحكام الربط هذه واتباعها.
          </p>
          <h3>إزالة الروابط من موقعنا</h3>
          <p>
            إذا وجدت أي رابط على موقعنا مسيء لأي سبب من الأسباب، فأنت حر في الاتصال وإبلاغنا في أي لحظة. سننظر في طلبات إزالة الروابط، ولكننا لسنا ملزمين بذلك أو بالرد عليك مباشرة.
لا نضمن صحة المعلومات الواردة في هذا الموقع، ولا نضمن اكتمالها أو دقتها؛ كما أننا لا نعد بضمان بقاء موقع الويب متاحًا أو تحديث المواد الموجودة على الموقع.

          </p>

          <h3>الحسابات </h3>

          <ul style="text-align: right; direction:rtl;">
            <li>يلتزم المستخدم بعدم إنشاء أكثر من حساب واحد في منصة بحثي، وفي حال واجه مشكلة في حسابه الأول فعليه المتابعة مع فريق بحثي لحل المشكلة.</li>
            <li>يتعهد المستخدم المسجل في منصة بحثي أنه الوحيد الذي يستخدم الحساب ويكون مسؤولا عن كل ما يتم عبر حسابه، ولا يسمح حاليا أن يقوم أكثر من شخص باستخدام حساب واحد.</li>
            <li>قد يطلب موقع بحثي وثائق شخصية مثل الهوية أو جواز السفر لإثبات هوية المستخدم قبل السماح له بإكمال استخدام الموقع.</li>
            <li>-	قد يقوم فريق بحثي بإيقاف حساب أي مستخدم يتم الشك فيه أو بمخالفته للشروط، ويحق للموقع طلب وثائق شخصية عن المستخدم تثبت هويته لإعادة تفعيل الحساب، كذلك قد يتم طلب وثائق للتأكد من ملكيته لحساب باي بال أو البطاقة الائتمانية.</li>
			<li>يحق لموقع بحثي حظر الحسابات المخالفة لشروط الموقع أو تلك التي تتسبب بضرر للموقع أو مستخدميه بشكل نهائي ودون رجوع للمستخدم أو تنبيه.</li>
          </ul>
          <p>
              يتم تجميد الحساب مؤقتاً أو إيقافه بشكل دائم في موقعنا عند انتهاك شروط الاستخدام. ويتلقى المستخدم تنبيهاً بذلك عبر الموقع أو البريد الإلكتروني. من الأمثلة على الاستخدامات غير القانونية التي تعرض الحساب للتجميد أو الإيقاف:
          </p>
		     <ul style="text-align: right; direction:rtl;">
				<li>استخدام المستخدم وسيلة دفع مسروقة أو غير مملوكة من قبله</li>
				<li>استخدام الحساب من قبل أكثر من شخص سواء كانوا فريقا أم شركة، حيث يسمح فقط لشخص واحد باستخدام الحساب في مستقل والعمل على المشاريع فيه</li>
				<li>قيام المستخدم (الخبير) بلعب دور الوسيط في المشاريع، بحيث يستلم مشروعا كخبير ثم يقوم بتوظيف شخص آخر للعمل عليه خارج أو داخل موقع بحثي (بهذه الحالة يتم إيقاف الوسيط وإلزامه بدفع أي مبالغ مستحقة والقيام بأي أعمال حسب تقدير الدعم الفني)</li>
				<li>محاولة المستخدم الاحتيال على موقع بحثي بطلب كامل العمل في الرسائل قبل توظيفه</li>
				<li>تسبب المستخدم بأي ضرر تجاه أي مستخدم آخر أو موقع بحثي</li>
				<li>تهرب الخبير من دفع عمولة المنصة عبر الدفع الخارجي ويكون الحظر نهائيا مباشرة</li>
				<li>الإصرار على التواصل خارج منصة مستقل بدون ضرورة</li>
				<li>عدم متابعة الخبير للعمل بعد البدء فيه بدون سبب جوهري والتسبب بإضاعة وقت الباحث</li>
				<li>قيام الخبير بنشرعمل ليس من إعداده في معرض أعماله</li>
				<li>تقديم الخبيرعروض على مشاريع لا يُتقنها أو تنفيذ عمل منخفض الجودة أو الاعتماد على البرامج الآلية في تنفيذ المشروع. على سبيل المثال لا الحصر تسليم مُحتوى منسوخ، الاعتماد على برامج الترجمة الآلية وتوليد الشعارات والتصاميم آليا أو تقديم عمل أقل جودة من الموجود في معرض الأعمال</li>
				<li>انتحال المستخدم لشخصية أخرى في الموقع</li>
				<li>رفع صورة شخصية للحساب ليست صورة مالك الحساب نفسه، من ضمن ذلك استخدام صور شخصيات عامة</li>
				<li>بيع الحساب، وعند اكتشاف عملية بيع أي حساب يتم إيقافه مباشرة مع رصيده ولا يمكن لأي طرف الاستفادة منه</li>
				<li>إنشاء الخبيرﻷكثر من حساب واستخدامهم ﻷي سبب كان</li>
				<li>القيام بنشر مشاريع وهمية أو سبام</li>
				<li>استخدام Google Adwords للإعلان عن أعمال الخبيرأو أي محتوى آخر من محتويات الموقع</li>

			</ul>
			<h3>استبعاد</h3>
			<p>إلى أقصى حد يسمح به القانون المعمول به، نستبعد جميع الإقرارات والضمانات والشروط المتعلقة بموقعنا على الويب واستخدام هذا الموقع. لا شيء في إخلاء المسؤولية هذا سوف:</p>
			<ul style="text-align: right; direction:rtl;">
				<li>تحديد أو استبعاد مسؤوليتنا أو مسؤوليتك عن الوفاة أو الإصابة الشخصية</li>
				<li>تحديد أو استبعاد مسؤوليتنا أو مسؤوليتك عن الاحتيال أو التحريف الاحتيالي</li>
				<li>تقييد أي من مسؤولياتنا أو التزاماتك بأي طريقة غير مسموح بها بموجب القانون المعمول به</li>
				<li>استبعاد أي من التزاماتنا أو التزاماتك التي قد لا يتم استبعادها بموجب القانون المعمول به</li>

			</ul>
			<p>قيود وحظر المسؤولية المنصوص عليها في هذا القسم وفي أي مكان آخر في إخلاء المسؤولية هذا:</p>
			<ul style="text-align: right; direction:rtl;">
				<li>تخضع للفقرة السابقة</li>
				<li>تحكم جميع الالتزامات الناشئة بموجب إخلاء المسؤولية، بما في ذلك الالتزامات الناشئة في العقد، في حالة المسؤولية التقصيرية وخرق الواجب القانوني</li>

			</ul>
			<p>صفحة سياسة الخصوصية: طالما يتم توفير موقع الويب والمعلومات والخدمات على الموقع، فلن نكون مسؤولين عن أي خسارة أو ضرر من أي نوع.</p>

        </article>

        </div></div></div>

  </section>


</main>
<app-footer></app-footer>
