  <!-- <div *ngFor="let freeLancerExperience of freeLancerExperiences$ |async">
    <img alt="" src="{{freeLancerExperience.attachment}}" class="certifcate-img">
    <p>{{freeLancerExperience.name}}</p>
    <p>{{freeLancerExperience.date | date : 'medium'}}</p>
    <p>{{freeLancerExperience.Description}}</p>
  </div> -->
  <div class="row">
    <div class="card col-md-12 mr-2 prjct-card mt-12" *ngFor="let freeLancerExperience of freeLancerExperiences$ |async">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="edcu-txt">
              <h6>{{freeLancerExperience.company}}</h6>
              <p>{{freeLancerExperience.description}}</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 education-box">
            <div class="d-flex justify-content-center pt-4">
              <div class="p-3">
                <h6>{{freeLancerExperience.fromMonthYear | date }}</h6>
              </div>
              <div class="p-3">
                <h6>{{freeLancerExperience.toMonthYear | date}}</h6>
              </div>
              <div class="p-3">
                <button ngClass="btn btn-sm btn-success mr-1"
                  (click)="editFreeLancerExperience(freeLancerExperience)">{{'PROFILE.EDIT' | translate}}</button>
                <button ngClass="btn btn-sm btn-danger" (click)="confirmDelete(freeLancerExperience.id)">{{'PROFILE.REMOVE' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="!(freeLancerExperiences$ |async)">
    <strong>{{'BASE.NOT_FOUND_SEARCH_RESULT' | translate}}</strong>
  </div>
  <div class="user-info my-4">
    <button class="btn btn-sm btn-primary  mb-1" (click)="addNew()">{{ 'PROFILE.ADD_EXPERIENCE' | translate }}</button>
    <form [formGroup]="freeLancerExperienceForm">
      <div class="form-group">
        <input type="text" formControlName="Company" class="form-control" id="Company"
          placeholder="{{ 'PROFILE.COMPANY' | translate }}" required>
      </div>
      <div class="form-group">
        <input type="date" formControlName="FromMonthYear" class="form-control" id="FromMonthYear">
      </div>
      <div class="form-group">
        <input type="date" formControlName="ToMonthYear" class="form-control" id="ToMonthYear">
      </div>
      <div class="form-group">
        <textarea type="text" formControlName="Description" class="form-control" id="Description"
          placeholder="{{'BASE.DETAILS' | translate}}" name="Description" required></textarea>
      </div>
      <div class="input-group my-4">

        <div class="input-group-append">
          <button class="btn btn-green" *ngIf="action === 'new'" (click)="saveFreeLancerExperience()"
            type="button">{{ 'BASE.SAVE' | translate }}</button>
          <button class="btn btn-green" *ngIf="action === 'edit'" (click)="updateFreeLancerExperience()"
            type="button">{{ 'BASE.EDIT' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
